// SASS VARIABLES
$bgcolor: #ffe4c2;
$width: 50%;
$blue: #050096;
$padding: 10px;
$font: 'Myriad pro';

*{
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color: $bgcolor;
    font-family: $font;
    max-width: 750px;
    margin: 0 auto;
}

div{
    border: 1px solid $blue;
    border-radius: 5px;
    box-shadow: 1px 1px 7px 1px $blue;
    margin: 15px;
    padding: 15px;
}

ul{
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

h1,h2{
    font-weight: normal;
}

input,button{
    width: $width;
    padding: $padding;
}
textarea{
    width: $width;
    padding: $padding;
}