// SASS VARIABLES
$bgcolor: #ffe4c2;
$width: 50%;
$blue: #050096;
$padding: 10px;
$font: 'Myriad pro';

@mixin flex{
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}

*{
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color: lighten($bgcolor, 5%);
    font-family: $font;
    max-width: 750px;
    margin: 0 auto;

  div{
      border: 1px solid $blue;
      border-radius: 5px;
      box-shadow: 1px 1px 7px 1px opacify($blue, .9);
      margin: 15px;
      padding: 15px;
      background-color: $bgcolor;
      @include flex;
  }

  ul{
      list-style: none;
      margin-bottom: 0;
      padding: 0;
  }
 h1{
   font-weight: normal;
   text-decoration: underline;
 }
 h2{
      @extend h1;
      font-size: 1.2rem;
  }

  input,button{
      width: $width;
      padding: $padding;
  }
  textarea{
      @extend input;
  }
}